<h1>Welcome to Artificial Intelligence Book Shop!</h1>

<% if !logged_in? %>
    <%= link_to "Sign Up", new_user_path %><br/>
    <%= link_to "Sign In", signin_path %><br/>
<% else %>
    <h3>You are logged in as <%= current_user.username %></h3>  
<% end %>    

