/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .role {
     color: white 
 }
 #intro {
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fbernardmarr.com%2Fwhat-is-the-importance-of-artificial-intelligence-ai%2F&psig=AOvVaw1C3tqwXZzaHhowElyAe7iL&ust=1634270464073000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCIjdnI2CyfMCFQAAAAAdAAAAABAD");
    height: 100vh;
}
